:root {
    --text-color: #5D5D5D;
    --link-color: black;
    --hover-color: #5D5D5D;
    --background-image: url('../images/Cosmo125.png');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    max-width: 85vw;
    margin: 60px auto;
}

h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    margin-bottom: 60px;
}

p {
    line-height: 150%;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.logo {
    width: 150px;
    margin-bottom: 60px;
}

.article-link:hover h2 {
    color: var(--hover-color);
}

.flex {
    display: flex;
    margin-bottom: 60px;
    gap: 20px;
}

.button {
    background: none;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1rem;
    text-decoration: none;
}

.button:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}

.articles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.newest-article {
    margin-right: 4rem;
    width: 70%;
}

.newest-article img,
.img-container img,
.row-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.newest-article h2 {
    font-size: 2.5rem;
}

.newest-article .summary {
    font-size: 1.6rem;
}

.other-articles {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 3rem;
}

.other-articles h2 {
    font-size: 1.2rem;
    margin: 0;
}

.other-articles .article-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    height: 100%;
}

.article-card .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info, .newest-article .info {
    display: flex;
    gap: 10px;
    font-size: 0.85rem;
}

.source, .newest-article .source {
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 30px;
    width: fit-content;
    margin: 15px 0;
}

.img-container, 
.row-img-container {
    position: relative;
    overflow: hidden;
}

.other-articles .img-container {
    width: 100%;
}

.row {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.row .article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.row .article-card p {
    margin: 15px 0;
}

.row .article-card h2 {
    margin-bottom: 0;
}

.row-img-container {
    height: 220px;
}

.pagination {
    width: 100%;
    margin: 4rem auto;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a.active {
    background-color: darkgray;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

@media (max-width: 1200px) {
    .articles-container {
        flex-direction: column;
    }

    .newest-article {
        width: 100%;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .other-articles {
        width: 100%;
        margin-right: 0;
        flex-direction: row;
    }

    .other-articles .article-link {
        margin-bottom: 2rem;
        width: 50%;
    }

    .row {
        margin-top: 0;
    }

    h2 {
        font-size: 1.2rem;
    }

}

@media (max-width: 820px) {
    .newest-article img {
        max-height: 300px;
    }

    .other-articles .article-card {
        width: 100%;
        flex: 1;
    }

    .info {
        font-size: 12px;
    }

    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .row-img-container {
        height: 200px;
    }
}

@media (max-width: 480px) {
    body {
        max-width: 95vw;
        margin: 20px auto;
    }

    h1 {
        font-size: 2rem;
    }

    .buttons {
        flex-direction: column;
        gap: 10px;
    }

    .row {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    }

    .row-img-container {
        height: 150px;
    }
}
